body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: #f8b3c8;
    font-family: 'Source Sans Pro', sans-serif;
    color: #9A1750;
}

h1 {
    margin: 10% 2% 2% 2%;
}

.about {
    margin: 2% 2% 4% 2%;
    font-size: larger;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    border-radius: 8px;
    border: none;
    cursor:pointer;
    font-size: x-large;
    color: white;
}

.number {
    background-color: #EE4C7C;
}

.equals {
    background-color: #9A1750;
}

.operator {
    background-color: #be3b62;
}

.clear{
    background-color: #9A1750;
}

.answer {
    background-color: white;
    border-radius: 8px;
    color: #000000;
    padding: 3%;
    font-size: xx-large;
    overflow: hidden;

}

.container {
    background-color: white;
    border: 3px solid white;
    border-radius: 8px;
}


/*Basic calculator layout*/
.calculator {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem ;
    grid-template-rows: 4rem 4rem 4rem 4rem;
    column-gap: 4px;
    row-gap: 4px;
    grid-template-areas: 
      "answer answer answer answer"
      "clear clear clear clear"
      "seven eight nine division"
      "four five six multiplication"
      "one two three subtraction"
      "period zero equals addition";
}

.all {
    justify-self: stretch;
    height: 4rem;
}

.answer {
    grid-area: answer;
    display: grid;
    justify-content: right;
    align-items: center;
}

.clear {
    grid-area: clear;
}

.plus_minus {
    grid-area: plus_minus;
}

.division {
    grid-area: division;
}

.multiplication {
    grid-area: multiplication;
}

.addition {
    grid-area: addition;
}

.subtraction {
    grid-area: subtraction;
}

.equals {
    grid-area: equals;
}

.period {
    grid-area: period;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}


